// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
IDI_ICON1               ICON                    "..\\..\\..\\Installer\\KARphin.ico"
"dolphin"               ICON                    "..\\..\\..\\Installer\\KARphin.ico"

